.tudoview{
    width: 100%;
    min-height: 20rem;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: stretch;
}

.div-ok{
    display: flex;
    padding: 10px;
    text-align: center;
    border-top: 2px solid #ccc;
    align-items: center;
}

.div-ok-check{
    padding-top: 3px;
    display: flex;
    text-align: center;
}

h1{
    padding: 5px;
}

.div-ok-int{
    width:100%;
}

.div-ok a{
    color: #000;
    text-decoration: none;  
    text-align: center;
}

.div-ok h5
.div-ok span{
    display: flex;
    justify-content: center;
}

.baixa{
    background-color: #3dbd02;
}

.media{
    background-color: #ffee00;
}

.alta{
    background-color: #f00;
}