.tudo-header{
    width: 100%;
    height: auto;
    background-color: #34526c;
    padding: 15px;
}

.tudo-header a{
    color: #fff;
    text-decoration: none;
    margin: 15px;
    cursor: pointer;
    font-size: 2rem;
}

.tudo-header a:hover{
    color: #fff;
}